<!doctype html>
<html lang="en">
    <head>
        <title>Ices2 administration</title>
    </head>

    <body>
        <p>Ices2 installed: {{ installed }}</p>
        <p>Ices2 folder: {{ folder }}</p>
        <p>Ices2 folder exists: {{ folder_exists }}</p>
        <p>Ices2 folder is writeable: {{ folder_writeable }}</p>
    </body>
</html>